@page "/card/{Kind}/{Id:guid}"
@rendermode InteractiveServer
@inject IServiceProvider Services
@inject NavigationManager NavigationManager
@inject Microsoft.Extensions.Localization.IStringLocalizer<FinanceManager.Web.Pages> Localizer
@using FinanceManager.Web.ViewModels
@using FinanceManager.Web.ViewModels.Common
@using FinanceManager.Web.Components.Shared
@using System



@if (_vm == null)
{
    <PageTitle>@($"{Localizer["CardPage_PageTitle"]}: {GetKindTitle()}")</PageTitle>
    <p>@Localizer["General_Loading"]</p>
}
else
{
    <PageTitle>@($"{GetKindTitle()}: {_vm.Title}")</PageTitle>
    <GenericCardPage TKeyValue="(string, string)" Provider="_vm" Localizer="Localizer" LoadingText="@Localizer["General_Loading"]" />
}

@code {
    [Parameter] public string Kind { get; set; } = string.Empty;
    [Parameter] public Guid Id { get; set; }

    private BaseCardViewModel<(string Key, string Value)>? _vm;
    private async Task SetViewModel(BaseCardViewModel<(string Key, string Value)> vm)
    {
        if (_vm is not null)
        {
            _vm.StateChanged -= ViewModelSatteChanged;
            _vm.UiActionRequested -= OnUiActionRequested;
        }
        _vm = vm;
        _vm.StateChanged += ViewModelSatteChanged;
        _vm.UiActionRequested += OnUiActionRequested;
        await _vm.InitializeAsync(Id);
    }
    private void ViewModelSatteChanged(object? sender, EventArgs e) => _ = InvokeAsync(StateHasChanged);
    private void OnUiActionRequested(object? sender, string? action) => _ = InvokeAsync(() =>
    {
        switch (action)
        {
            case "Back":
                NavigationManager.NavigateTo($"/list/{Kind}");
                break;
        }
    });

    private string GetKindTitle() => (Kind ?? string.Empty).Trim().ToLowerInvariant() switch
    {
        "accounts" => Localizer["General_Title_Account"],
        "contacts" => Localizer["General_Title_Contact"],
        _ => Kind
    };

    protected override async Task OnParametersSetAsync()
    {
        if (Kind?.ToLowerInvariant() == "accounts")
            await SetViewModel(ActivatorUtilities.CreateInstance<BankAccountCardViewModel>(Services));
    }
}
