<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="shortcut icon" type="image/icon" href="icons/finance_manager-64x64.ico">
    <script src="js/financeManager.js"></script>
    
    <!-- Allgemeingültige Styles -->
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="css/ribbon.css" />
    <link rel="stylesheet" href="css/app.Contacts.css" />
    <link rel="stylesheet" href="css/app.ContactMergeDialog.css" />
    <link rel="stylesheet" href="css/app.ReportDashboard.css" />
    <link rel="stylesheet" href="css/app.BudgetReport.css" />
    <link rel="stylesheet" href="css/app.BudgetLineChart.css" />
    <link rel="stylesheet" href="css/app.StatementDraftDetail.css" />
    <link rel="stylesheet" href="css/app.ReportKpiTile.css" />
    <link rel="stylesheet" href="css/app.NumericKpi.css" />
    <link rel="stylesheet" href="css/app.HomeKpiGrid.css" />
    <link rel="stylesheet" href="css/app.Home.css" />
    <link rel="stylesheet" href="css/app.AggregateBarChart.css" />
    <link rel="stylesheet" href="css/app.HomeNotifications.css" />
    <link rel="stylesheet" href="css/app.Users.css" />
    <link rel="stylesheet" href="css/app.Setup.css" />
    <link rel="stylesheet" href="css/app.SecurityPrices.css" />
    <link rel="stylesheet" href="css/app.SavingsPlanList.css" />
    <link rel="stylesheet" href="css/app.ReportsHome.css" />
    <link rel="stylesheet" href="css/app.BackgroundTaskStatusPanel.css" />
    <link rel="stylesheet" href="css/app.SetupNotificationsTab.css" />
    
    
    <!-- Dark Theme -->
    <link rel="stylesheet" href="css/theme.Dark.css" />
    <link rel="stylesheet" href="css/theme.Dark.Ribbon.css" />
    <link rel="stylesheet" href="css/theme.Dark.Contacts.css" />
    <link rel="stylesheet" href="css/theme.Dark.ContactMergeDialog.css" />
    <link rel="stylesheet" href="css/theme.Dark.ReportDashboard.css" />
    <link rel="stylesheet" href="css/theme.Dark.BudgetReport.css" />
    <link rel="stylesheet" href="css/theme.Dark.BudgetLineChart.css" />
    <link rel="stylesheet" href="css/theme.Dark.StatementDraftDetail.css" />
    <link rel="stylesheet" href="css/theme.Dark.ReportKpiTile.css" />
    <link rel="stylesheet" href="css/theme.Dark.HomeKpiGrid.css" />
    <link rel="stylesheet" href="css/theme.Dark.Home.css" />
    <link rel="stylesheet" href="css/theme.Dark.AggregateBarChart.css" />
    <link rel="stylesheet" href="css/theme.Dark.HomeNotifications.css" />
    <link rel="stylesheet" href="css/theme.Dark.Users.css" />
    <link rel="stylesheet" href="css/theme.Dark.Setup.css" />
    <link rel="stylesheet" href="css/theme.Dark.SecurityPrices.css" />
    <link rel="stylesheet" href="css/theme.Dark.SavingsPlanList.css" />
    <link rel="stylesheet" href="css/theme.Dark.ReportsHome.css" />
    <link rel="stylesheet" href="css/theme.Dark.BackgroundTaskStatusPanel.css" />
    <link rel="stylesheet" href="css/theme.Dark.SetupNotificationsTab.css" />
    
    <link rel="stylesheet" href="FinanceManager.Web.styles.css" />
    <link rel="manifest" href="/manifest.json">
    <ImportMap />
    <HeadOutlet />
</head>

<body class="dark-mode">
    <AuthRedirect />
    <NavMenu />
    <Routes />
    <script src="auth.js"></script>
    <script src="scroll.js"></script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
